@media screen and (max-width: 576px) {

    .first-section,
    .third-section,
    .fourth-section,
    .fifth-section,
    .seventh-section {
        margin: 15px;
    }

    .first-section ul {
        gap: 0;
    }

    .first-section img {
        width: 100px;
        margin: 0;
    }

    .nav {
        display: none;
    }

    /* second-section */
    .second-section {
        flex-direction: column-reverse;
        margin: 0px;
        padding: 0;
        gap: 30px;
    }

    .second-section-first-part {
        padding: 15px;
    }

    .second-section-first-part h1 {
        font-size: 24px;
        margin-bottom: 13px;
        padding-right: 250px;
    }

    .second-section-first-part p {
        font-size: 14px;
    }

    .second-section-second-part img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    /* third-section */
    .third-section {
        margin-top: 70px;
        text-align: center;
    }

    .third-section-part-one {
        margin-bottom: 30px;
    }

    .third-section-part-one h1 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .third-section-part-one p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .third-section-part-two {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .third-section img {
        max-width: 100%;
    }

    .flwrs-card h1 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .flwrs-card p {
        font-size: 16px;
    }

    /* fourth-section */
    .fourth-section {
        flex-direction: column;
        gap: 0;
        margin-bottom: 150px;
    }

    .fourth-section-part-two h1 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .uls ul li {
        font-size: 14px;
        font-weight: 400;
    }

    .badge {
        display: none;
    }

    .fourth-section-part-one img {
        margin-bottom: 18px;
        max-width: 100%;
        width: 100%;
    }

    /* fifth-section */
    .fifth-section-first-part {
        margin-bottom: 50px;
    }

    .fifth-section-first-part h1 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .fifth-section-first-part p {
        font-size: 14px;
    }

    .fifth-section-second-part {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        padding: 65px 50px;
    }

    .bloom h1,
    .ana h1,
    .zabo h1 {
        font-size: 20px;
        margin-bottom: 20px;

    }

    .bloom a,
    .ana a,
    .zabo a {
        font-size: 16px;
    }

    /* sixth-section */
    .sixth-section {
        width: 100%;
        padding: 100px 0px 60px 0px;
        margin-top: 40px;
    }

    .sixth-section h1 {
        font-size: 20px;
    }

    .sixth-section-second-part input[type="email"] {
        width: 200px;
    }

    /* seventh-section */
    .seventh-section {
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;

    }

}