* {
    margin: 0;
    padding: 0;
    
}
body{
    max-width: 1440px;
    margin: 0px auto;
    border: 2px solid black;
}
.headings {
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 600;
}

.paragraph {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #0000007c;
}

/* first-section */
.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}
.first-section ul {
    display: flex;
    gap: 48px;
}

.first-section ul li {
    list-style-type: none;
}

.first-section ul li a {
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
}


/* second section */
.second-section{
    display: flex;
    margin: 30px 150px;
    justify-content: flex-end;
    align-items: end;
    padding-top: 100px;
}
.second-section-first-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.second-section-first-part h1{
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 15px;
}
.span-one{
    color: #E95A08;
}