* {
    margin: 0;
    padding: 0;

}

body {
    max-width: 1440px;
    margin: 0px auto;
    border: 2px solid black;
    color: #1E1E1E;
}

.headings {
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 800;
}

.paragraph {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #0000007c;
}

/* first-section */
.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}

.first-section ul {
    display: flex;
    gap: 48px;
}

.first-section ul li {
    list-style-type: none;
}

.first-section ul li a {
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
}


/* second section */
.second-section {
    display: flex;
    margin: 30px 150px;
    justify-content: flex-end;
    align-items: end;
    padding-top: 100px;
}

.second-section-first-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.second-section-first-part h1 {
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 15px;
}

.span-one {
    color: #E95A08;
}

/* third section */
.third-section {
    margin: 120px 150px;
}

.span-two {
    color: #E95A08;
}

.third-section-part-one {
    text-align: center;
    margin-bottom: 50px;
}

.third-section-part-two {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 20px;
    max-width: 100%;
}

.flwrs-card {}

.flwrs-card img {
    margin-bottom: 30px;
}

.flwrs-card h1 {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 20px;
}

.flwrs-card p {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #111111;
    margin-bottom: 30px;
}

.card-btn {
    width: 100%;
    padding: 20px 50px;
    color: white;
    background-color: #E95A08;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

/* fourth section */
.fourth-section {
    margin: 200px 150px;
    display: flex;
    gap: 100px;
}

.fourth-section-part-one {
    position: relative;
}

.badge {
    position: absolute;
    top: -130px;
    left: 350px;
}
.fourth-section-part-two h1{
    margin-bottom: 20px;
}
.fourth-section-part-two ul li p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}